{% extends "base.html" %}
{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('user.home') }}">InfoSub </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('user.home') }}">仪表盘</a></li>
                <li><a href="{{ url_for('info.site_info') }}">网站</a></li>
                <li><a href="#">微信公众号</a></li>
                <li><a href="#">微博</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">我的订阅</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.setting', path='profile') }}">用户设置</a></li>
                        <li><a href="https://github.com/CoderHito/InfoSub/issues" target="_blank">反馈信息</a></li>
                        <li role="separator" class="divider"></li>
                        {% if current_user.is_admin %}
                        <li><a target="_blank" href="/admin">后台管理</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('view.logout') }}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="margin-top: 70px">
    {% block content %}{% endblock %}
</div>
<footer class="footer" style="margin: 30px 0">
    <div class="container">
        <p class="text-muted">Copyleft by InfoSub,
            <iframe src="https://ghbtns.com/github-btn.html?user=CoderHito&repo=InfoSub&type=star&count=true"
                    frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </p>
    </div>
</footer>
{% endblock %}

