{% extends "index_base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
        <h3>用户登录</h3>
        <br/>
        <form method="POST" action="{{ url_for('view.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username_or_email.label }}
                {{ form.username_or_email(class="form-control", placeholder="Username or Email") }}
                {% if form.errors.username_or_email %}
                <small class="text-danger">{{ form.errors.username_or_email[0] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {% if form.errors.password %}
                <small class="text-danger">{{ form.errors.password[0] }}</small>
                {% endif %}
            </div>
            <div class="checkbox">
                <label>
                    {{ form.remember() }}
                    {{ form.remember.label(style="padding-left: 0px;") }}
                </label>
            </div>
            <div class="form-group">
                {{ form.captcha_code.label }}
                <div class="row">
                    <div class="col-md-8">
                        {{ form.captcha_code(class="form-control", placeholder="Captcha") }}
                    </div>
                    <div class="col-md-4">
                        <img src="{{ url_for('view.get_captcha', captcha_id=captcha_id) }}" width="100%"
                             class="img-rounded">
                    </div>
                </div>
                {% if form.errors.captcha_code %}
                <small class="text-danger">{{ form.errors.captcha_code[0] }}</small>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">登录</button>
            <a href="{{ url_for('view.register') }}" type="button" class="btn btn-link btn-block">注册新用户</a>
        </form>
    </div>
</div>
{% endblock %}