{% extends "index_base.html" %}
{% block title %}注册{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
        <h3>用户注册</h3>
        <br />
        <form method="POST" action="{{ url_for('view.register') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label }} <b style="color: red">*</b>
                {{ form.username(class="form-control", placeholder="Username") }}
                <small id="username_error"></small>
                {% if form.errors.username %}
                <small style="color: red">{{ form.errors.username[0] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label }} <b style="color: red">*</b>
                {{ form.email(class="form-control", type="email", placeholder="Email") }}
                <small id="email_error"></small>
                {% if form.errors.email %}
                <small style="color: red">{{ form.errors.email[0] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }} <b style="color: red">*</b>
                {{ form.password(class="form-control", id="password", placeholder="Password") }}
                {% if form.errors.password %}
                <small style="color: red">{{ form.errors.password[0] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.re_password.label }} <b style="color: red">*</b>
                {{ form.re_password(class="form-control", id="re_password", placeholder="Repeat Password") }}
                <small style="color: red" id="re_password_error"></small>
            </div>
            <div class="form-group">
                {{ form.coupon.label }}
                {{ form.coupon(class="form-control", placeholder="Invitation Code") }}
                <small style="color: #666">* 没有邀请码可为空</small>
            </div>
            <button type="submit" class="btn btn-success btn-block">立刻注册</button>
            <a href="{{ url_for('view.login') }}" type="button" class="btn btn-default btn-block">已有账号</a>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/register.js')}}"></script>
{% endblock %}
